# Exploration

In [1]:
import pandas as pd

In [2]:
path = "../../data/_raw/wb/__info_wb_api_countries.csv"
countries = pd.read_csv(
    path,
    sep=","
)

In [3]:
countries.head(10)

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.51670,LCN,ZJ,Latin America & Caribbean,NaN,NaN,NaN,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.52280,SAS,8S,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,Aggregates
4,AFW,ZI,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,Aggregates
5,AGO,AO,Angola,Luanda,13.2420,-8.81155,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IBD,XF,IBRD
6,ALB,AL,Albania,Tirane,19.8172,41.33170,ECS,Z7,Europe & Central Asia,ECA,7E,Europe & Central Asia (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
7,AND,AD,Andorra,Andorra la Vella,1.5218,42.50750,ECS,Z7,Europe & Central Asia,NaN,NaN,NaN,HIC,XD,High income,LNX,XX,Not classified
8,ARB,1A,Arab World,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,Aggregates
9,ARE,AE,United Arab Emirates,Abu Dhabi,54.3705,24.47640,MEA,ZQ,Middle East & North Africa,NaN,NaN,NaN,HIC,XD,High income,LNX,XX,Not classified

In [27]:
countries[~countries["capitalCity"].isna()]["name"].sort_values()

2                Afghanistan
6                    Albania
83                   Algeria
12            American Samoa
7                    Andorra
               ...
289                  Vietnam
288    Virgin Islands (U.S.)
295              Yemen, Rep.
297                   Zambia
298                 Zimbabwe
Name: name, Length: 211, dtype: object

In [25]:
countries[countries["lendingType.value"] == "Aggregates"]["name"].sort_values()

3                                                 Africa
1                            Africa Eastern and Southern
4                             Africa Western and Central
8                                             Arab World
62                                Caribbean small states
                             ...
245           Sub-Saharan Africa (excluding high income)
256            Sub-Saharan Africa excluding South Africa
294    Sub-Saharan Africa excluding South Africa and ...
281                                  Upper middle income
291                                                World
Name: name, Length: 81, dtype: object

In [4]:
path = "../../data/_raw/wb/__info_wb_api_regions.csv"
regions = pd.read_csv(
    path,
    sep=","
)

In [5]:
regions.head()

   id code iso2code                                     name
0 NaN  AFE       ZH              Africa Eastern and Southern
1 NaN  AFR       A9                                   Africa
2 NaN  AFW       ZI               Africa Western and Central
3 NaN  ARB       1A                               Arab World
4 NaN  CAA       C9  Sub-Saharan Africa (IFC classification)

In [9]:
regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7 non-null      float64
 1   code      44 non-null     object
 2   iso2code  44 non-null     object
 3   name      44 non-null     object
dtypes: float64(1), object(3)
memory usage: 1.5+ KB

In [6]:
regions.value_counts(subset=["name"])

name
Africa                                                   1
Africa Eastern and Southern                              1
Middle East (developing only)                            1
Middle East and North Africa (IFC classification)        1
Non-resource rich Sub-Saharan Africa countries           1
North Africa                                             1
North America                                            1
OECD members                                             1
Other small states                                       1
Pacific island small states                              1
Post-demographic dividend                                1
Pre-demographic dividend                                 1
Resource rich Sub-Saharan Africa countries               1
Small states                                             1
South Asia                                               1
South Asia (IFC classification)                          1
Sub-Saharan Africa                                       1
Sub-Saharan Africa (IFC classification)                  1
Sub-Saharan Africa (excluding high income)               1
Sub-Saharan Africa excluding South Africa                1
Sub-Saharan Africa excluding South Africa and Nigeria    1
Middle East & North Africa (excluding high income)       1
Middle East & North Africa                               1
Least developed countries: UN classification             1
Euro area                                                1
Africa Western and Central                               1
Arab World                                               1
Caribbean small states                                   1
Central Europe and the Baltics                           1
Early-demographic dividend                               1
East Asia & Pacific                                      1
East Asia & Pacific (excluding high income)              1
East Asia and the Pacific (IFC classification)           1
Europe & Central Asia                                    1
Latin America and the Caribbean (IFC classification)     1
Europe & Central Asia (excluding high income)            1
Europe and Central Asia (IFC classification)             1
European Union                                           1
Fragile and conflict affected situations                 1
Heavily indebted poor countries (HIPC)                   1
Late-demographic dividend                                1
Latin America & Caribbean                                1
Latin America & Caribbean (excluding high income)        1
World                                                    1
dtype: int64

In [6]:
path = "../../data/_raw/eia/eia_api_intl_region.csv"
eia_regions = pd.read_csv(
    path,
    sep=","
)

/tmp/ipykernel_17748/4275599094.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  eia_regions = pd.read_csv(

In [7]:
eia_regions.head(10)

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,1981,130,Metallurgical coal,1,Production,ASOC,Asia & Oceania,r,Region,NaN,NaN,1000 metric tons,181597.13485933334,MT
1,1988,119,Subbituminous,1,Production,OPAF,OPEC - Africa,r,Region,NaN,NaN,terajoules,0,TJ
2,2005,14,Lignite,1,Production,ASOC,Asia & Oceania,r,Region,NaN,NaN,million metric tons of oil equivalent,81.28356862422736,MTOE
3,1988,14,Lignite,1,Production,CSAM,Central & South America,r,Region,NaN,NaN,million metric tons of oil equivalent,1.010036088437365,MTOE
4,2002,12,Bituminous,1,Production,WP27,United States,r,Region,NaN,NaN,1000 metric tons,480214.37788395333,MT
5,1992,119,Subbituminous,1,Production,OPAF,OPEC - Africa,r,Region,NaN,NaN,quadrillion Btu,0,QBTU
6,1998,11,Anthracite,1,Production,WP12,IEO - Africa,r,Region,NaN,NaN,terajoules,50817.58546659987,TJ
7,1988,119,Subbituminous,1,Production,OPAF,OPEC - Africa,r,Region,NaN,NaN,thousand short tons,0,TST
8,1995,7,Coal,1,Production,OENA,OECD - North America,r,Region,NaN,NaN,1000 metric tons,1021781.5966415423,MT
9,1991,12,Bituminous,1,Production,ASOC,Asia & Oceania,r,Region,NaN,NaN,terajoules,18930326.784256585,TJ

In [12]:
eia_regions.value_counts(subset=["countryRegionName"]).sort_index()

countryRegionName
Africa                                    15833
Asia & Oceania                            16111
Australia and New Zealand                 15324
Brazil                                    14031
Canada                                    14558
Central & South America                   15524
China                                     12843
Eurasia                                   14912
Europe                                    16024
European Union                            16188
IEO - Africa                              13770
IEO - Middle East                         14085
IEO OECD - Europe                         13640
India                                     15467
Japan                                     15006
Mexico, Chile, and other OECD Americas    15605
Middle East                               15105
Non-OECD                                  14576
Non-OPEC                                  15857
North America                             15395
OECD                                      14776
OECD - Asia And Oceania                   14983
OECD - Europe                             15082
OECD - North America                      14816
OPEC                                      15805
OPEC - Africa                             14172
OPEC - South America                      15014
Other Non-OECD - America                  15455
Other Non-OECD - Asia                     15293
Other Non-OECD - Europe and Eurasia       16147
Persian Gulf                              15048
Russia                                    11104
South Korea and other OECD Asia           14757
United States                             14144
World                                     15596
dtype: int64

In [13]:
eia_regions.head(10)

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,1981,130,Metallurgical coal,1,Production,ASOC,Asia & Oceania,r,Region,NaN,NaN,1000 metric tons,181597.13485933334,MT
1,1988,119,Subbituminous,1,Production,OPAF,OPEC - Africa,r,Region,NaN,NaN,terajoules,0,TJ
2,2005,14,Lignite,1,Production,ASOC,Asia & Oceania,r,Region,NaN,NaN,million metric tons of oil equivalent,81.28356862422736,MTOE
3,1988,14,Lignite,1,Production,CSAM,Central & South America,r,Region,NaN,NaN,million metric tons of oil equivalent,1.010036088437365,MTOE
4,2002,12,Bituminous,1,Production,WP27,United States,r,Region,NaN,NaN,1000 metric tons,480214.37788395333,MT
5,1992,119,Subbituminous,1,Production,OPAF,OPEC - Africa,r,Region,NaN,NaN,quadrillion Btu,0,QBTU
6,1998,11,Anthracite,1,Production,WP12,IEO - Africa,r,Region,NaN,NaN,terajoules,50817.58546659987,TJ
7,1988,119,Subbituminous,1,Production,OPAF,OPEC - Africa,r,Region,NaN,NaN,thousand short tons,0,TST
8,1995,7,Coal,1,Production,OENA,OECD - North America,r,Region,NaN,NaN,1000 metric tons,1021781.5966415423,MT
9,1991,12,Bituminous,1,Production,ASOC,Asia & Oceania,r,Region,NaN,NaN,terajoules,18930326.784256585,TJ

In [8]:
path = "../../data/_raw/eia/eia_api_ieo_world.csv"
eia_world = pd.read_csv(
    path,
    sep=","
)

In [9]:
eia_world.head(10)

,period,history,scenario,scenarioDescription,tableId,tableName,seriesId,seriesName,regionId,regionName,value,unit
0,2050,PROJECTION,HighMacro,High economic growth,15,Gross output by region and sector,go_summary_afr_nm_b2015dol,Gross output : Non-OECD : Africa,0-0,No Regional Tables,7972.0825,billion 2015 dollars
1,2050,PROJECTION,Reference,Reference,80,World thermal coal exports by region,sup_clp_exp_stm_chi_mst,Thermal coal exports : Non-OECD : Non-OECD Asi...,0-0,No Regional Tables,0.0000,million short tons
2,2050,PROJECTION,Reference,Reference,80,World thermal coal exports by region,sup_clp_exp_stm_ura_mst,Thermal coal exports : Non-OECD : Non-OECD Eur...,0-0,No Regional Tables,0.0000,million short tons
3,2050,PROJECTION,Reference,Reference,80,World thermal coal exports by region,sup_clp_exp_stm_rus_mst,Thermal coal exports : Non-OECD : Non-OECD Eur...,0-0,No Regional Tables,140.7017,million short tons
4,2050,PROJECTION,Reference,Reference,80,World thermal coal exports by region,sup_clp_exp__stmooo_mst,Thermal coal exports : OECD : Total OECD,0-0,No Regional Tables,468.3175,million short tons
5,2050,PROJECTION,Reference,Reference,80,World thermal coal exports by region,sup_clp_exp_stm_anz_mst,Thermal coal exports : OECD : OECD Asia : Aust...,0-0,No Regional Tables,288.5819,million short tons
6,2050,PROJECTION,Reference,Reference,80,World thermal coal exports by region,sup_clp_exp_stm_sko_mst,Thermal coal exports : OECD : OECD Asia : Sout...,0-0,No Regional Tables,0.0000,million short tons
7,2050,PROJECTION,Reference,Reference,76,World total coal imports by region,sup_clp_imp_oas_mst,Coal imports : Non-OECD : Non-OECD Asia : Other,0-0,No Regional Tables,249.6458,million short tons
8,2050,PROJECTION,Reference,Reference,76,World total coal imports by region,sup_clp_imp_ind_mst,Coal imports : Non-OECD : Non-OECD Asia : India,0-0,No Regional Tables,622.5311,million short tons
9,2050,PROJECTION,Reference,Reference,76,World total coal imports by region,sup_clp_imp_chi_mst,Coal imports : Non-OECD : Non-OECD Asia : China,0-0,No Regional Tables,124.4832,million short tons

In [10]:
path = "../../data/_raw/ember/ember_file_elec_review_global_year.csv"
ember_electricity_year = pd.read_csv(
    path,
    sep=","
)

In [11]:
ember_electricity_year.head(10)

,Area,Country code,Year,Area type,Ember region,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country,Asia,Electricity demand,Demand,Demand,TWh,0.57,NaN,NaN
1,Afghanistan,AFG,2000,Country,Asia,Electricity demand,Demand per capita,Demand per capita,MWh,0.03,NaN,NaN
2,Afghanistan,AFG,2000,Country,Asia,Electricity generation,Aggregate fuel,Clean,%,65.96,NaN,NaN
3,Afghanistan,AFG,2000,Country,Asia,Electricity generation,Aggregate fuel,Fossil,%,34.04,NaN,NaN
4,Afghanistan,AFG,2000,Country,Asia,Electricity generation,Aggregate fuel,"Hydro, bioenergy and other renewables",%,65.96,NaN,NaN
5,Afghanistan,AFG,2000,Country,Asia,Electricity generation,Aggregate fuel,Renewables,%,65.96,NaN,NaN
6,Afghanistan,AFG,2000,Country,Asia,Electricity generation,Aggregate fuel,Wind and solar,%,0.00,NaN,NaN
7,Afghanistan,AFG,2000,Country,Asia,Electricity generation,Aggregate fuel,Clean,TWh,0.31,0.01,3.33
8,Afghanistan,AFG,2000,Country,Asia,Electricity generation,Aggregate fuel,Fossil,TWh,0.16,NaN,NaN
9,Afghanistan,AFG,2000,Country,Asia,Electricity generation,Aggregate fuel,"Hydro, bioenergy and other renewables",TWh,0.31,0.01,3.33

In [18]:
ember_electricity_year.value_counts(subset=["Ember region"]).sort_index()

Ember region
Africa                         59304
Asia                           38013
Europe                         47709
Latin America and Caribbean    46830
Middle East                    14628
North America                   3264
Oceania                        16992
dtype: int64

In [12]:
path = "../../data/_raw/bp/bp_file_energy_review_world.csv"
bp_world = pd.read_csv(
    path,
    sep=","
)

In [13]:
bp_world.head(10)

,Country,Year,ISO3166_alpha3,ISO3166_numeric,Region,SubRegion,OPEC,EU,OECD,CIS,Var,Value
0,Brazil,2004,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,0.000000
1,Brazil,2005,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,0.014737
2,Brazil,2006,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,1.016887
3,Brazil,2007,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,5.953947
4,Brazil,2008,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,16.534379
5,Brazil,2009,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,23.064175
6,Brazil,2010,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,35.325768
7,Brazil,2011,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,37.893039
8,Brazil,2012,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,40.470648
9,Brazil,2013,BRA,76.0,S. & Cent. America,South America,0.0,0.0,0.0,0.0,biodiesel_cons_kboed,43.160587

In [22]:
bp_world.value_counts(subset=["Region"]).sort_index()

Region
Africa                12487
Asia Pacific          45832
CIS                   11661
Europe                70213
Middle East           20743
North America         10472
S. & Cent. America    21867
dtype: int64

In [23]:
bp_world.value_counts(subset=["SubRegion"]).sort_index()

SubRegion
Asia Pacific       45832
CIS                11661
Caribbean           2517
Eastern Africa       367
Europe             70213
Middle Africa        948
Middle East        20743
North America      10472
Northern Africa     7868
South America      19350
Southern Africa     2625
Western Africa       679
dtype: int64

In [14]:
path = "../../data/_raw/wb/__info_wb_api_sources.csv"
sources = pd.read_csv(
    path,
    sep=","
)

In [15]:
sources.head()

,id,lastupdated,name,code,description,url,dataavailability,metadataavailability,concepts
0,1,2021-08-18,Doing Business,DBS,NaN,NaN,Y,Y,3
1,2,2023-05-10,World Development Indicators,WDI,NaN,NaN,Y,Y,3
2,3,2022-09-23,Worldwide Governance Indicators,WGI,NaN,NaN,Y,Y,3
3,5,2016-03-21,Subnational Malnutrition Database,SNM,NaN,NaN,Y,Y,3
4,6,2022-12-06,International Debt Statistics,IDS,NaN,NaN,Y,Y,4

In [12]:
sources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    67 non-null     int64
 1   lastupdated           67 non-null     object
 2   name                  67 non-null     object
 3   code                  67 non-null     object
 4   description           0 non-null      float64
 5   url                   0 non-null      float64
 6   dataavailability      67 non-null     object
 7   metadataavailability  62 non-null     object
 8   concepts              67 non-null     int64
dtypes: float64(2), int64(2), object(5)
memory usage: 4.8+ KB

In [13]:
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    299 non-null    object
 1   iso2Code              298 non-null    object
 2   name                  299 non-null    object
 3   capitalCity           211 non-null    object
 4   longitude             211 non-null    float64
 5   latitude              211 non-null    float64
 6   region.id             218 non-null    object
 7   region.iso2code       218 non-null    object
 8   region.value          299 non-null    object
 9   adminregion.id        136 non-null    object
 10  adminregion.iso2code  136 non-null    object
 11  adminregion.value     136 non-null    object
 12  incomeLevel.id        218 non-null    object
 13  incomeLevel.iso2code  218 non-null    object
 14  incomeLevel.value     299 non-null    object
 15  lendingType.id        218 non-null    object
 16  lendingType.iso2code  218 non-null    object
 17  lendingType.value     299 non-null    object
dtypes: float64(2), object(16)
memory usage: 42.2+ KB

In [16]:
path = "../../data/_raw/wb/__info_wb_api_topics.csv"
topics = pd.read_csv(
    path,
    sep=","
)

In [17]:
topics.head()

,id,value,sourceNote
0,1,Agriculture & Rural Development,For the 70 percent of the world's poor who liv...
1,2,Aid Effectiveness,Aid effectiveness is the impact that aid has i...
2,3,Economy & Growth,Economic growth is central to economic develop...
3,4,Education,Education is one of the most powerful instrume...
4,5,Energy & Mining,The world economy needs ever-increasing amount...

In [18]:
countries.head(10)

,id,iso2Code,name,capitalCity,longitude,latitude,region.id,region.iso2code,region.value,adminregion.id,adminregion.iso2code,adminregion.value,incomeLevel.id,incomeLevel.iso2code,incomeLevel.value,lendingType.id,lendingType.iso2code,lendingType.value
0,ABW,AW,Aruba,Oranjestad,-70.0167,12.51670,LCN,ZJ,Latin America & Caribbean,NaN,NaN,NaN,HIC,XD,High income,LNX,XX,Not classified
1,AFE,ZH,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,Aggregates
2,AFG,AF,Afghanistan,Kabul,69.1761,34.52280,SAS,8S,South Asia,SAS,8S,South Asia,LIC,XM,Low income,IDX,XI,IDA
3,AFR,A9,Africa,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,Aggregates
4,AFW,ZI,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,Aggregates
5,AGO,AO,Angola,Luanda,13.2420,-8.81155,SSF,ZG,Sub-Saharan Africa,SSA,ZF,Sub-Saharan Africa (excluding high income),LMC,XN,Lower middle income,IBD,XF,IBRD
6,ALB,AL,Albania,Tirane,19.8172,41.33170,ECS,Z7,Europe & Central Asia,ECA,7E,Europe & Central Asia (excluding high income),UMC,XT,Upper middle income,IBD,XF,IBRD
7,AND,AD,Andorra,Andorra la Vella,1.5218,42.50750,ECS,Z7,Europe & Central Asia,NaN,NaN,NaN,HIC,XD,High income,LNX,XX,Not classified
8,ARB,1A,Arab World,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,NaN,NaN,NaN,Aggregates,NaN,NaN,Aggregates
9,ARE,AE,United Arab Emirates,Abu Dhabi,54.3705,24.47640,MEA,ZQ,Middle East & North Africa,NaN,NaN,NaN,HIC,XD,High income,LNX,XX,Not classified

In [22]:
regions.sort_values("name").head(44)

     id code iso2code                                               name
1   NaN  AFR       A9                                             Africa
0   NaN  AFE       ZH                        Africa Eastern and Southern
2   NaN  AFW       ZI                         Africa Western and Central
3   NaN  ARB       1A                                         Arab World
11  NaN  CSS       S3                             Caribbean small states
6   NaN  CEB       B8                     Central Europe and the Baltics
13  NaN  EAR       V2                         Early-demographic dividend
14  1.0  EAS       Z4                                East Asia & Pacific
12  NaN  EAP       4E        East Asia & Pacific (excluding high income)
5   NaN  CEA       C4     East Asia and the Pacific (IFC classification)
17  NaN  EMU       XC                                          Euro area
16  2.0  ECS       Z7                              Europe & Central Asia
15  NaN  ECA       7E      Europe & Central Asia (excluding high income)
7   NaN  CEU       C5       Europe and Central Asia (IFC classification)
18  NaN  EUU       EU                                     European Union
19  NaN  FCS       F1           Fragile and conflict affected situations
20  NaN  HPC       XE             Heavily indebted poor countries (HIPC)
24  NaN  LTE       V3                          Late-demographic dividend
22  3.0  LCN       ZJ                         Latin America & Caribbean
21  NaN  LAC       XJ  Latin America & Caribbean (excluding high income)
8   NaN  CLA       C6  Latin America and the Caribbean (IFC classific...
23  NaN  LDC       XL       Least developed countries: UN classification
26  4.0  MEA       ZQ                         Middle East & North Africa
27  NaN  MNA       XQ  Middle East & North Africa (excluding high inc...
25  NaN  MDE       M1                      Middle East (developing only)
9   NaN  CME       C7  Middle East and North Africa (IFC classification)
30  NaN  NRS       6X     Non-resource rich Sub-Saharan Africa countries
29  NaN  NAF       M2                                       North Africa
28  6.0  NAC       XU                                      North America
31  NaN  OED       OE                                       OECD members
32  NaN  OSS       S4                                 Other small states
34  NaN  PSS       S2                        Pacific island small states
35  NaN  PST       V4                          Post-demographic dividend
33  NaN  PRE       V1                           Pre-demographic dividend
36  NaN  RRS       R6         Resource rich Sub-Saharan Africa countries
40  NaN  SST       S1                                       Small states
37  8.0  SAS       8S                                         South Asia
10  NaN  CSA       C8                    South Asia (IFC classification)
39  9.0  SSF       ZG                                Sub-Saharan Africa
4   NaN  CAA       C9            Sub-Saharan Africa (IFC classification)
38  NaN  SSA       ZF         Sub-Saharan Africa (excluding high income)
41  NaN  SXZ       A4          Sub-Saharan Africa excluding South Africa
43  NaN  XZN       A5  Sub-Saharan Africa excluding South Africa and ...
42  NaN  WLD       1W                                              World

# Data transformation

In [4]:
import pandas as pd

In [18]:
path = "../../data/_raw/eia/eia_api_intl_region.csv"
eia_regions = pd.read_csv(
    path,
    sep=","
)

/tmp/ipykernel_17748/4275599094.py:2: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  eia_regions = pd.read_csv(

In [19]:
eia_regions

,period,productId,productName,activityId,activityName,countryRegionId,countryRegionName,countryRegionTypeId,countryRegionTypeName,dataFlagId,dataFlagDescription,unitName,value,unit
0,1981,130,Metallurgical coal,1,Production,ASOC,Asia & Oceania,r,Region,NaN,NaN,1000 metric tons,181597.13485933334,MT
1,1988,119,Subbituminous,1,Production,OPAF,OPEC - Africa,r,Region,NaN,NaN,terajoules,0,TJ
2,2005,14,Lignite,1,Production,ASOC,Asia & Oceania,r,Region,NaN,NaN,million metric tons of oil equivalent,81.28356862422736,MTOE
3,1988,14,Lignite,1,Production,CSAM,Central & South America,r,Region,NaN,NaN,million metric tons of oil equivalent,1.010036088437365,MTOE
4,2002,12,Bituminous,1,Production,WP27,United States,r,Region,NaN,NaN,1000 metric tons,480214.37788395333,MT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522041,2021,47,Energy intensity,34,GDP,EURO,Europe,r,Region,NaN,NaN,thousand Btu per USD at purchasing power parities,3.1185687376943356,TBTUUSDPP
522042,1983,4701,Gross domestic product,34,GDP,WP14,Canada,r,Region,NaN,NaN,billion dollars at purchasing power parities,712.9519,BDOLPPP
522043,1980,4701,Gross domestic product,34,GDP,WP17,Japan,r,Region,NaN,NaN,billion dollars at purchasing power parities,2642.706,BDOLPPP
522044,2009,4701,Gross domestic product,34,GDP,WP17,Japan,r,Region,NaN,NaN,billion dollars at purchasing power parities,4742.1,BDOLPPP
522045,1995,4701,Gross domestic product,34,GDP,WP14,Canada,r,Region,NaN,NaN,billion dollars at purchasing power parities,979.1118,BDOLPPP

In [7]:
eia_regions.value_counts(subset=["countryRegionName"]).sort_index()

countryRegionName
Africa                                    15833
Asia & Oceania                            16111
Australia and New Zealand                 15324
Brazil                                    14031
Canada                                    14558
Central & South America                   15524
China                                     12843
Eurasia                                   14912
Europe                                    16024
European Union                            16188
IEO - Africa                              13770
IEO - Middle East                         14085
IEO OECD - Europe                         13640
India                                     15467
Japan                                     15006
Mexico, Chile, and other OECD Americas    15605
Middle East                               15105
Non-OECD                                  14576
Non-OPEC                                  15857
North America                             15395
OECD                                      14776
OECD - Asia And Oceania                   14983
OECD - Europe                             15082
OECD - North America                      14816
OPEC                                      15805
OPEC - Africa                             14172
OPEC - South America                      15014
Other Non-OECD - America                  15455
Other Non-OECD - Asia                     15293
Other Non-OECD - Europe and Eurasia       16147
Persian Gulf                              15048
Russia                                    11104
South Korea and other OECD Asia           14757
United States                             14144
World                                     15596
dtype: int64

Given there is no way to link country data from worldbank and region data from EIA, we will use the final dataset produced in dataiku as our country dataset.

In [22]:
countries = pd.read_csv(
    "../../data/dataiku/final/country_project/country_groups_prod.csv",
    sep=",",
)
countries

    group_type group_name                 country
0         zone     Europe                 Albania
1         zone     Europe                 Andorra
2         zone     Europe                 Austria
3         zone     Europe                 Belgium
4         zone     Europe  Bosnia and Herzegovina
..         ...        ...                     ...
516      group       OPEC                 Nigeria
517      group       OPEC                   Qatar
518      group       OPEC            Saudi Arabia
519      group       OPEC    United Arab Emirates
520      group       OPEC               Venezuela

[521 rows x 3 columns]