In [1]:
import pandas as pd
import requests
from pandas import json_normalize

In [5]:
# Define the World Bank API URL for GDP data (indicator code: NY.GDP.MKTP.CD)
url = "https://api.worldbank.org/v2/country/all/indicator/NY.GDP.MKTP.CD?format=json&per_page=20000"

# Fetch data from the World Bank API
response = requests.get(url)
data = response.json()

# Verify we have all the results
assert data[0]["total"] < data[0]["per_page"]

# Flatten the JSON data using json_normalize
gdp_data = json_normalize(data[1])
gdp_data.head()

,countryiso3code,date,value,unit,obs_status,decimal,indicator.id,indicator.value,country.id,country.value
0,AFE,2022,1.185138e+12,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern
1,AFE,2021,1.086531e+12,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern
2,AFE,2020,9.288802e+11,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern
3,AFE,2019,1.006191e+12,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern
4,AFE,2018,1.012521e+12,,,0,NY.GDP.MKTP.CD,GDP (current US$),ZH,Africa Eastern and Southern

In [3]:
# Filter and clean the DataFrame
gdp_data = gdp_data[['countryiso3code', 'date', 'country.value', 'value']]
gdp_data = gdp_data.rename(columns={'countryiso3code': 'country_code_a3', 'date': 'year', 'country.value': 'country_name', 'value': 'gdp'})

# Display the GDP data
display(gdp_data)

      country_code_a3  year                 country_name           gdp
0                 AFE  2022  Africa Eastern and Southern  1.185138e+12
1                 AFE  2021  Africa Eastern and Southern  1.086531e+12
2                 AFE  2020  Africa Eastern and Southern  9.288802e+11
3                 AFE  2019  Africa Eastern and Southern  1.006191e+12
4                 AFE  2018  Africa Eastern and Southern  1.012521e+12
...               ...   ...                          ...           ...
16753             ZWE  1964                     Zimbabwe  1.217138e+09
16754             ZWE  1963                     Zimbabwe  1.159512e+09
16755             ZWE  1962                     Zimbabwe  1.117602e+09
16756             ZWE  1961                     Zimbabwe  1.096647e+09
16757             ZWE  1960                     Zimbabwe  1.052990e+09

[16758 rows x 4 columns]

In [4]:
gdp_data.to_csv("../../data/_processed/processed_gdp_worldbank.csv",index = False)