In [2]:
import pandas as pd

In [5]:
df_cw_pik = pd.read_csv('../../data/_processed/CW_PIK_historical_emissions_processed.csv')
df_edgar = pd.read_csv('../../data/_processed/edgar_processed_ch4_n2o_co2_fgases.csv')

df_concat_edgar_pik_ghg_emissions = pd.concat([df_cw_pik, df_edgar],ignore_index=True)
display(df_concat_edgar_pik_ghg_emissions)

df_concat_edgar_pik_ghg_emissions.to_csv('../../data/_processed/concat_edgar_pik_ghg_emissions.csv', index=False)

,country_code_a3,country_name,region_name,sector,gas,year,value_mteqco2,source,value_kt
0,ABW,Aruba,Amériques,Agriculture,CH4,1850,0.000050,PIK,NaN
1,ABW,Aruba,Amériques,Agriculture,N2O,1850,0.000005,PIK,NaN
2,ABW,Aruba,Amériques,Energy,CH4,1850,0.000199,PIK,NaN
3,ABW,Aruba,Amériques,Energy,CO2,1850,0.000000,PIK,NaN
4,ABW,Aruba,Amériques,Energy,N2O,1850,0.000004,PIK,NaN
...,...,...,...,...,...,...,...,...,...
1245607,ZWE,Zimbabwe,Afrique,Agriculture,N2O,2021,3.893217,EDGAR,12.977390
1245608,ZWE,Zimbabwe,Afrique,Agriculture,N2O,2021,0.246902,EDGAR,0.823008
1245609,ZWE,Zimbabwe,Afrique,Agriculture,N2O,2021,0.000588,EDGAR,0.001959
1245610,ZWE,Zimbabwe,Afrique,Waste,N2O,2021,0.169729,EDGAR,0.565762
1245611,ZWE,Zimbabwe,Afrique,Other,N2O,2021,0.264678,EDGAR,0.882261