# First checks

In [2]:
import pandas as pd

In [4]:
countries_groups = pd.read_csv(
    "../../data/dataiku/final/country_project/country_groups_prod.csv",
    sep=",",
)
countries_groups

    group_type group_name                 country
0         zone     Europe                 Albania
1         zone     Europe                 Andorra
2         zone     Europe                 Austria
3         zone     Europe                 Belgium
4         zone     Europe  Bosnia and Herzegovina
..         ...        ...                     ...
516      group       OPEC                 Nigeria
517      group       OPEC                   Qatar
518      group       OPEC            Saudi Arabia
519      group       OPEC    United Arab Emirates
520      group       OPEC               Venezuela

[521 rows x 3 columns]

In [10]:
countries_groups.value_counts(subset=["group_type"]).sort_index()

group_type
group          77
zone          444
dtype: int64

In [11]:
countries_groups[countries_groups.group_type == "group"]

    group_type    group_name               country
444      group  Persian Gulf               Bahrain
445      group  Persian Gulf                  Iran
446      group  Persian Gulf                  Iraq
447      group  Persian Gulf                Kuwait
448      group  Persian Gulf                 Qatar
..         ...           ...                   ...
516      group          OPEC               Nigeria
517      group          OPEC                 Qatar
518      group          OPEC          Saudi Arabia
519      group          OPEC  United Arab Emirates
520      group          OPEC             Venezuela

[77 rows x 3 columns]

In [14]:
countries = countries_groups["country"].unique()
countries

array(['Albania', 'Andorra', 'Austria', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Faeroe Islands', 'Finland', 'France',
       'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Liechtenstein', 'Luxembourg', 'Malta', 'Monaco',
       'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Serbia', 'San Marino', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden', 'Switzerland', 'Turkey', 'United Kingdom',
       'Czechoslovakia', 'Macedonia', 'Yugoslavia', 'Armenia',
       'Azerbaijan', 'Belarus', 'Estonia', 'Georgia', 'Kazakhstan',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Moldova',
       'Russian Federation & USSR', 'Tajikistan', 'Turkmenistan',
       'Ukraine', 'Uzbekistan', 'Algeria', 'Angola', 'Benin', 'Botswana',
       'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cameroon', 'Cape Verde',
       'Central African Republic', 'Chad', 'Comoros', 'Congo',
       'Democratic Republic of the Congo', 'Djibouti', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Reunion',
       'Rwanda', 'Eswatini', 'Saint Helena', 'Sao Tome and Principe',
       'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa',
       'South Sudan', 'Sudan', 'Swaziland', 'Togo', 'Tunisia', 'Uganda',
       'Tanzania', 'Zambia', 'Zimbabwe', 'Western Sahara', 'Afghanistan',
       'American Samoa', 'Australia', 'Bangladesh', 'Bhutan',
       'Brunei Darussalam', 'Cambodia', 'China',
       'Hong Kong Special Administrative Region (China)',
       'Macao Special Administrative Region (China)', 'Cook Islands',
       'North Korea', 'Fiji', 'French Polynesia', 'Guam', 'India',
       'Indonesia', 'Japan', 'Kiribati', 'Laos', 'Malaysia', 'Maldives',
       'Mongolia', 'Nauru', 'Nepal', 'New Caledonia', 'New Zealand',
       'Niue', 'Pakistan', 'Papua New Guinea', 'Philippines',
       'South Korea', 'Samoa', 'Singapore', 'Solomon Islands',
       'Sri Lanka', 'Thailand', 'Timor-Leste', 'Tonga', 'Vanuatu',
       'Viet Nam', 'Burma', 'Taiwan', 'US Pacific Islands', 'Wake Island',
       'Palau', 'Bermuda', 'Canada', 'Greenland', 'Mexico',
       'Saint Pierre and Miquelon', 'United States of America',
       'Antigua and Barbuda', 'Argentina', 'Aruba', 'Bahamas', 'Barbados',
       'Belize', 'Bolivia', 'Brazil', 'British Virgin Islands',
       'Cayman Islands', 'Chile', 'Colombia', 'Costa Rica', 'Cuba',
       'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador',
       'Falkland Islands (Malvinas)', 'French Guiana', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guyana', 'Haiti', 'Honduras',
       'Jamaica', 'Martinique', 'Montserrat', 'Netherlands Antilles',
       'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Puerto Rico',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname',
       'Trinidad and Tobago', 'Turks and Caicos Islands',
       'United States Virgin Islands', 'Uruguay', 'Venezuela', 'Bahrain',
       'Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman',
       'Qatar', 'Saudi Arabia', 'Syria', 'United Arab Emirates', 'Yemen',
       'Palestine'], dtype=object)

In [17]:
type(countries)

numpy.ndarray

In [15]:
continents_or_groups = countries_groups["group_name"].unique()
continents_or_groups

array(['Europe', 'Eurasia', 'Africa', 'Asia and Oceania', 'North America',
       'Central and South America', 'Middle East', 'World',
       'Persian Gulf', 'OECD', 'EU28', 'OPEC'], dtype=object)

In [18]:
type(continents_or_groups)

numpy.ndarray

In [20]:
import numpy as np
countries_continents_or_groups = np.concatenate((countries, continents_or_groups), axis=None)
countries_continents_or_groups

array(['Albania', 'Andorra', 'Austria', 'Belgium',
       'Bosnia and Herzegovina', 'Bulgaria', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'Faeroe Islands', 'Finland', 'France',
       'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland', 'Ireland',
       'Italy', 'Liechtenstein', 'Luxembourg', 'Malta', 'Monaco',
       'Montenegro', 'Netherlands', 'Norway', 'Poland', 'Portugal',
       'Romania', 'Serbia', 'San Marino', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden', 'Switzerland', 'Turkey', 'United Kingdom',
       'Czechoslovakia', 'Macedonia', 'Yugoslavia', 'Armenia',
       'Azerbaijan', 'Belarus', 'Estonia', 'Georgia', 'Kazakhstan',
       'Kyrgyzstan', 'Latvia', 'Lithuania', 'Moldova',
       'Russian Federation & USSR', 'Tajikistan', 'Turkmenistan',
       'Ukraine', 'Uzbekistan', 'Algeria', 'Angola', 'Benin', 'Botswana',
       'Burkina Faso', 'Burundi', 'Ivory Coast', 'Cameroon', 'Cape Verde',
       'Central African Republic', 'Chad', 'Comoros', 'Congo',
       'Democratic Republic of the Congo', 'Djibouti', 'Egypt',
       'Equatorial Guinea', 'Eritrea', 'Ethiopia', 'Gabon', 'Gambia',
       'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Reunion',
       'Rwanda', 'Eswatini', 'Saint Helena', 'Sao Tome and Principe',
       'Senegal', 'Seychelles', 'Sierra Leone', 'Somalia', 'South Africa',
       'South Sudan', 'Sudan', 'Swaziland', 'Togo', 'Tunisia', 'Uganda',
       'Tanzania', 'Zambia', 'Zimbabwe', 'Western Sahara', 'Afghanistan',
       'American Samoa', 'Australia', 'Bangladesh', 'Bhutan',
       'Brunei Darussalam', 'Cambodia', 'China',
       'Hong Kong Special Administrative Region (China)',
       'Macao Special Administrative Region (China)', 'Cook Islands',
       'North Korea', 'Fiji', 'French Polynesia', 'Guam', 'India',
       'Indonesia', 'Japan', 'Kiribati', 'Laos', 'Malaysia', 'Maldives',
       'Mongolia', 'Nauru', 'Nepal', 'New Caledonia', 'New Zealand',
       'Niue', 'Pakistan', 'Papua New Guinea', 'Philippines',
       'South Korea', 'Samoa', 'Singapore', 'Solomon Islands',
       'Sri Lanka', 'Thailand', 'Timor-Leste', 'Tonga', 'Vanuatu',
       'Viet Nam', 'Burma', 'Taiwan', 'US Pacific Islands', 'Wake Island',
       'Palau', 'Bermuda', 'Canada', 'Greenland', 'Mexico',
       'Saint Pierre and Miquelon', 'United States of America',
       'Antigua and Barbuda', 'Argentina', 'Aruba', 'Bahamas', 'Barbados',
       'Belize', 'Bolivia', 'Brazil', 'British Virgin Islands',
       'Cayman Islands', 'Chile', 'Colombia', 'Costa Rica', 'Cuba',
       'Dominica', 'Dominican Republic', 'Ecuador', 'El Salvador',
       'Falkland Islands (Malvinas)', 'French Guiana', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guyana', 'Haiti', 'Honduras',
       'Jamaica', 'Martinique', 'Montserrat', 'Netherlands Antilles',
       'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Puerto Rico',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Suriname',
       'Trinidad and Tobago', 'Turks and Caicos Islands',
       'United States Virgin Islands', 'Uruguay', 'Venezuela', 'Bahrain',
       'Iran', 'Iraq', 'Israel', 'Jordan', 'Kuwait', 'Lebanon', 'Oman',
       'Qatar', 'Saudi Arabia', 'Syria', 'United Arab Emirates', 'Yemen',
       'Palestine', 'Europe', 'Eurasia', 'Africa', 'Asia and Oceania',
       'North America', 'Central and South America', 'Middle East',
       'World', 'Persian Gulf', 'OECD', 'EU28', 'OPEC'], dtype=object)

In [22]:
df_countries_continents_or_groups = pd.DataFrame(data={"country_or_group": countries_continents_or_groups})
df_countries_continents_or_groups

           country_or_group
0                   Albania
1                   Andorra
2                   Austria
3                   Belgium
4    Bosnia and Herzegovina
..                      ...
232                   World
233            Persian Gulf
234                    OECD
235                    EU28
236                    OPEC

[237 rows x 1 columns]

In [5]:
dk_multiselection_country_groups = pd.read_csv(
    "../../data/dataiku/raw/country_project/multiselect_groups.csv",
    sep=",",
)
dk_multiselection_country_groups

                       group                    country
0   Top GHG Emitters in 2018                      China
1   Top GHG Emitters in 2018   United States of America
2   Top GHG Emitters in 2018                       EU28
3   Top GHG Emitters in 2018                      India
4   Top GHG Emitters in 2018  Russian Federation & USSR
..                       ...                        ...
71                      EU28                   Slovenia
72                      EU28                      Spain
73                      EU28                     Sweden
74                      EU28             United Kingdom
75                      EU28                    Croatia

[76 rows x 2 columns]

Here we want to check if all the countries present in the multi-selection groups are actually in the country dataset.

In [23]:
df_merged = dk_multiselection_country_groups.merge(
    df_countries_continents_or_groups,
    how="left",
    left_on="country",
    right_on="country_or_group",
)
df_merged

,group,country,country_or_group
0,Top GHG Emitters in 2018,China,China
1,Top GHG Emitters in 2018,United States of America,United States of America
2,Top GHG Emitters in 2018,EU28,EU28
3,Top GHG Emitters in 2018,India,India
4,Top GHG Emitters in 2018,Russian Federation & USSR,Russian Federation & USSR
...,...,...,...
71,EU28,Slovenia,Slovenia
72,EU28,Spain,Spain
73,EU28,Sweden,Sweden
74,EU28,United Kingdom,United Kingdom
75,EU28,Croatia,Croatia

In [25]:
df_merged[df_merged.country_or_group.isnull()]

Empty DataFrame
Columns: [group, country, country_or_group]
Index: []

Here we check the type of a DataFrame row.

In [4]:
first_row = dk_multiselection_country_groups.iloc[0, :]
first_row

group      Top GHG Emitters in 2018
country                       China
Name: 0, dtype: object

In [5]:
type(first_row)

pandas.core.series.Series

In [6]:
type(first_row.group)

str